<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.App_infoMapper">
<!-- 查询所有app信息 -->
	<select id="getAppInfo" resultType="app_info">
		SELECT app_info.id AS id,softwareName,APKName,softwareSize,status,dict1.valueName AS flatformName,app1.categoryName AS categoryLevel1Name,app2.categoryName AS categoryLevel2Name,app3.categoryName AS categoryLevel3Name,dict2.valueName AS statusName,downloads,versionNo
		FROM app_info
		INNER JOIN data_dictionary AS dict1  ON dict1.valueId = app_info.flatformId AND dict1.typeCode='APP_FLATFORM'
		INNER JOIN data_dictionary AS dict2 ON 	dict2.valueId  = app_info.status AND dict2.typeCode='APP_STATUS'
		INNER JOIN app_category AS app1 ON app_info.categoryLevel1 = app1.id
		INNER JOIN app_category AS app2 ON app_info.categoryLevel2 = app2.id
		INNER JOIN app_category AS app3 ON app_info.categoryLevel3 = app3.id
		LEFT  JOIN app_version ON app_version.id = app_info.versionId
		<where>
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="status!=0">
				and status=#{status}
			</if>
			<if test="flatformId!=0">
				and flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=0">
				and categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=0">
				and categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=0">
				and categoryLevel3=#{categoryLevel3}
			</if>
		</where>

		limit #{index},#{pageSize}
	</select>
	
	<select id="getCountByConcent" resultType="int">
	SELECT count(1) as count  FROM app_info 
	<where>
		<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="status!=0">
				and status=#{status}
			</if>
			<if test="flatformId!=0">
				and flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=0">
				and categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=0">
				and categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=0">
				and categoryLevel3=#{categoryLevel3}
			</if>
	</where>       
	</select>
<!-- 	查看信息 -->
	<select id="getAppById" resultType="app_info">
		SELECT appinfodb.app_info.id AS id,
		softwareName,
		APKName,
		softwareSize,
		supportROM,
		interfaceLanguage,
		appInfo,
		logoPicPath,
		d1.valueName AS flatformName,	
		d2.valueName AS statusName,
		downloads,
	    a1.categoryName AS categoryLevel1Name,
		a2.categoryName AS categoryLevel2Name,
		a3.categoryName AS categoryLevel3Name,
		versionId AS versionNo
		FROM
		appinfodb.app_info INNER JOIN appinfodb.data_dictionary AS d1 ON d1.valueId = flatformId AND d1.typeCode = 'APP_FLATFORM'
		INNER JOIN appinfodb.data_dictionary AS d2 ON d2.valueId = STATUS AND d2.typeCode = 'APP_STATUS'
		INNER JOIN appinfodb.app_category  AS a1 ON categoryLevel1 = a1.id  
		INNER JOIN appinfodb.app_category  AS a2 ON categoryLevel2 = a2.id 
		INNER JOIN appinfodb.app_category  AS a3 ON categoryLevel3 = a3.id  
		where app_info.id=#{id}
	</select>		

		
	
	<!-- 添加 -->
	<insert id="addAPP" parameterType="app_info">
		
	INSERT INTO appinfodb.app_info 
	(softwareName, 
	APKName, 
	supportROM, 
	interfaceLanguage, 
	softwareSize, 
	updateDate, 
	devId, 
	appInfo, 
	STATUS, 
	onSaleDate, 
	offSaleDate, 
	flatformId, 
	categoryLevel3, 
	downloads, 
	createdBy, 
	creationDate, 
	modifyBy, 
	modifyDate, 
	categoryLevel1, 
	categoryLevel2, 
	logoPicPath, 
	logoLocPath, 
	versionId
	)
	VALUES
	(#{softwareName}, 
	#{APKName}, 
	#{supportROM}, 
	#{interfaceLanguage}, 
	#{softwareSize}, 
	#{updateDate}, 
	#{devId}, 
	#{appInfo}, 
	#{status}, 
	#{onSaleDate}, 
	#{offSaleDate}, 
	#{flatformId}, 
	#{categoryLevel3}, 
	#{downloads}, 
	#{createdBy}, 
	#{creationDate}, 
	#{modifyBy}, 
	#{modifyDate}, 
	#{categoryLevel1}, 
	#{categoryLevel2}, 
	#{logoPicPath}, 
	#{logoLocPath}, 
	#{versionId}
	);
	</insert>
		
		
	
	<select id="getappByAPKname" resultType="app_info">
	
			SELECT softwareName,APKName,supportROM,interfaceLanguage,softwareSize,appInfo 
			FROM app_info
	
			where APKName={APKName}
	
	</select>


</mapper>