<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.VersionMapper">
	<select id="getversion" resultType="app_version">
		SELECT app_version.id,appId,
		versionNo,
		versionInfo,
		publishStatus,
		downloadLink,
		versionSize,
		app_version.createdBy AS createdBy,
		app_version.creationDate AS creationDate,
		app_version.modifyBy AS modifyBy,
		app_version.modifyDate AS modifyDate,
		apkLocPath,
		apkFileName,
		softwareName AS appName
	FROM app_version
	INNER JOIN app_info ON app_info.versionId = app_version.id
	INNER JOIN data_dictionary AS d1 ON  d1.id =app_info.status
	WHERE app_version.id=(SELECT versionId FROM app_info WHERE app_info.id=#{id})
	</select>
</mapper>